<!DOCTYPE html>
<html>
    <body>
    	<a href="javascript:(function(){s=document.createElement('script');s.type='text/javascript';s.src='https://raw.github.com/bmwertman/wishlist/master/app/assets/javascripts/productinfo.js';document.body.appendChild(s);})();">Add to Wish List</a>
	</body>
</html>
